<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">RentalFlat_Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="flatlist">
                <span class="oi oi-plus" aria-hidden="true"></span> Flats list
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="infoblocklist">
                <span class="oi oi-plus" aria-hidden="true"></span> InfoBlock list
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="homepageinfoslist">
                <span class="oi oi-plus" aria-hidden="true"></span> Homepage info list
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="orderlist">
                <span class="oi oi-plus" aria-hidden="true"></span> Orders
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
